body {
    background: #B3B3B3;
    font-size: 125%;
}

.profile {
    font-family: Arial,  sans-serif;
    color: #ffffff;
    font-variant: small-caps;
    text-align: left;
    background: #666666;
    border-style: solid;    
    padding: 20px;
    

}

.profile img {
    width: 100px;
    border-radius: 50%;
    float: left;
    
}

#Name {
    font-size: 150%;
    margin: 10px 0 10px 0;

}

#brief-description {
   
    margin: 10px 10px 10px 10px;
}